[Unit]
Description=Launch the Voting Flask server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/voting_s3_ec2/.venv/bin/gunicorn --chdir /voting_s3_ec2 --bind 0.0.0.0:80 "app:launch_app()"

[Install]
WantedBy=multi-user.target